<form method="POST" action="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>">

    <div class="wideRow">

        <span class="itemNarrow">New Comment:</span>

    <input type="text" class="itemWide" id="comment" name="commentText" value="" placeholder="Tip" autocomplete="off" />

    <button type="submit" class="itemNarrow">Edit</button>
    </div>

</form>