<form method="POST" action="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>/edit">

    <div>

        <span class="itemNarrow">Your Comment:</span>

    <input type="text"  id="comment" name="commentText" value="<%= comment.text%>"  autocomplete="off" />

    <button type="submit">Edit</button>
    </div>
</form>
<a href="/quizzes/<%= quiz.id %>">Go back</a>