<form method="POST" action="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>/edit">

    <div class="wideRow">

        <span class="itemNarrow">Your Comment:</span>

    <input type="text" class="itemWide" id="comment" name="commentText" value="<%= comment.text%>"  autocomplete="off" />

    <button type="submit" class="itemNarrow">Edit</button>
    </div>
</form>
<a href="/quizzes/<%= quiz.id %>">Go back</a>